@page "/designation/{id}"
@using AtndTrackBlazorApp.Shared.Models;
@using AtndTrackBlazorApp.Shared;
@inject HttpClient _httpClient;
@inject NavigationManager router;
<h3>AddDepartment</h3>
<EditForm Model="@departmentModel" OnValidSubmit="SaveDepartment">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Name</label>
        <div>
            <InputText class="form-control" @bind-Value="departmentModel.Name" />
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public string id { get; set; }
    private DepartmentModel departmentModel = new DepartmentModel();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("IN Save Dept");
        int.TryParse(id, out int deptId);
        if (deptId != 0)
        {
            departmentModel.Id = deptId;
            var result = await _httpClient.GetJsonAsync<DepartmentModel[]>("api/Organization/designations").ConfigureAwait(false);
            if (result != null) { departmentModel = result.FirstOrDefault(o => o.Id == deptId); }
        }
    }

    private async Task SaveDepartment()
    {
        Console.WriteLine("IN Save Dept");
        int.TryParse(id, out int deptId);
        departmentModel.Id = deptId;
        var result = await _httpClient.PostJsonAsync<bool>("api/Organization/savedesignation", departmentModel).ConfigureAwait(false);
        if (result) router.NavigateTo("/department");
    }
}
