@page "/"
@page "/department"
@inject HttpClient httpClient;
@using AtndTrackBlazorApp.Shared.Models
@using AtndTrackBlazorApp.Shared

<h3>Department</h3>
@if (departmentModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <div class=" card">
            <div class="card-body">
                <NavLink class="nav-link" href="department/0">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Add Departments
                </NavLink>
            </div>
        </div>
        <table class="d-xl-table-cell">
            <thead>
                <tr><th>Id</th><th>Name</th><th>Actins</th></tr>
            </thead>
            <tbody>
                @foreach (var item in departmentModels)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <div class="form-inline">
                                <NavLink class="nav-link" href="@($"department/{item.Id}")">
                                    <span class="oi oi-external-link" aria-hidden="true"></span>Edit
                                </NavLink>
                                <NavLink class="nav-link">
                                    <span class="oi oi-delete" aria-hidden="true"></span>Delete
                                </NavLink>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@code {

    private DepartmentModel[] departmentModels;
    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetJsonAsync<DepartmentModel[]>("api/Organization/departments").ConfigureAwait(false);
        Console.WriteLine("respnose ", response);
        departmentModels = response;
    }
}
