<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            height: 500px;
            position: relative;
            border: 1px solid grey;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 10%;
            left: 10%;
            right: 10%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="center">
            <h1> Welcome to AtndTrack!</h1>
            <p>You’re just one click away from getting started with AtndTrack. All you need to do is verify your email address to activate your AtndTrack account.</p>
            <button style="width:200px;margin-left:30%"><a href="{0}"> Confirm By Email </a></button>
            <p>You’re receiving this email because you recently created a new AtndTrack account or added a new email address. If this wasn’t you, please ignore this email.</p>
            <br/>
            <br/>
            <div style="margin-left:30%">
                <h6>
                    © 2020 AtndTrack Inc., All Rights Reserved
                    <br />
                    Our mailing address is:
                    <br />
                    55 2nd Street Suite 300,
                    <br />
                    San Francisco,
                    <br />
                    CA 94105
                </h6>
            </div>
        </div>
    </div>

</body>
</html>
